# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# SQLite
*.db

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.obsidian/

# Logs
*.log

# Large / external raw source data
00_data/00_used_data/
00_data/00_raw_data/